<nav>
    <div class="nav-wrapper">
        <%= link_to "ã­ã“ãƒœãƒ¼ãƒ‰ ðŸ¾","/", class: "brand-logo center" %>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><%= link_to "ã‚¿ã‚¤ãƒ ãƒ©ã‚¤ãƒ³",posts_index_path %></li>
            <% if logged_in? %>
            <li><%= link_to "æ–°è¦æŠ•ç¨¿",posts_new_path(:user_id=>current_user.id) %></li>
            <li><%= link_to "ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒªã‚¹ãƒˆ",users_user_path %></li>
            <% end %>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if logged_in? %>
            <li><%= @current_user.email + "ã•ã‚“ã§ãƒ­ã‚°ã‚¤ãƒ³ä¸­"%></li>
            <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ",session_path(:id=>current_user.id),method: :delete %></li>
            <% else %>
            <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³",new_session_path %></li>
            <li><%= link_to "æ–°è¦ç™»éŒ²",new_user_path %></li>
            <% end %>
        </ul>
    </div>
</nav>